.item {
  width: 150px;

  padding: 10px 20px;

  border: 1px solid darkblue;

  display: flex;
  gap: 10px;
  align-items: center;
}
.placeForOnline {
  width: 10px;
  height: 10px;

  display: block;

  border-radius: 50%;
}

.statusOk {
  background-color: green;
}

.statusError {
  background: red;
}
